html
	head
		title Admin

		link(rel="stylesheet", href="/components/bootstrap/dist/css/bootstrap.css")
		block css
			
		
	body
		#wrapper.container
			h1 Admin

			#content
				block content

		script(src="/components/jquery/jquery.js")
		script(src="/components/bootstrap/dist/js/bootstrap.js")
		block scripts
			
