extends ../layout

block content
	#color-admin.col-md-8
		h1 Components

		form.new.row( action= "/admin/image/create", method="post" )
			.col-md-4
				input.form-control(name="path", placeholder="path")

			.col-md-4
				input.form-control(name="title", placeholder="title")

			.col-md-2
				button.btn.btn-success(type="submit")
					i.glyphicon.glyphicon-plus
					|  Create

			.col-md-8
				textarea.form-control(name="description", placeholder="description", rows="4")

		
		each item in model.items
			form.row( action= "/admin/image/update/" + item._id, method="post" )
				.col-md-4
					input.form-control(name="path", placeholder="path", value=item.path)

				.col-md-4
					input.form-control(name="title", placeholder="title", value=item.title)

				.col-md-2
					button.btn.btn-info(type="submit", value="update") 
						i.glyphicon.glyphicon-floppy-disk
						|  update

				.col-md-2
					a.btn.btn-warning(href= "/admin/image/delete/" + item._id ) 
						i.glyphicon.glyphicon-remove
						|  delete

				.col-md-8
					textarea.form-control(name="description", placeholder="description", rows="4")=item.description


